.ventas-main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

/* H1 */
.ventas-titulo{
    color: black;
    margin: 1rem;
    border-bottom: 3px solid #252B42;
}

.lista-container{
    display: flex;
    flex-direction: column;
    width: 44rem;
    align-items: center;
    justify-content: flex-start;
    height: 36rem;
    padding-top: 2rem;
    overflow-y: auto; /* Habilita el scroll vertical */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    background-color: #252B42;
}
/* 1er UL */
.lista{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 36rem;
    margin: 0;
    padding-left: 0;
}
.lista > li {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    border: #000 solid 1px;
    padding: 1rem;
    width: 100%;
    margin: 0 auto;
    background-color: #ffff;
    border-radius: 5px;

}
.venta{
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.venta p{
    margin: 0.4rem
}
.venta div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.p1, .p3, .p5{
    font-weight: bolder;
}

/* 2do UL */
.lista-productos{
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
}
.producto{
    display: flex;
    flex-direction: row;
    border: none;
    font-style: italic;
    gap: 0.2rem;
    font-size: 16px;
}

.p-id{
    font-weight: bolder;
}
.producto p {
    margin  : 0.2rem; /* Elimina márgenes predeterminados */
    line-height: 1rem; /* Ajusta la altura de línea si es necesario */
}
.producto hr{
    height:15px;
    margin-top:4px;
    padding: 0;
}