/* Estilos Generales */

.almacen-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    font-family: Arial, sans-serif;
    color: #ffffff;
}


/* Primer Contenedor */
.contenedor-listado {
    background-color: #1F263B;
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 40rem;
    overflow-y: auto;
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 1rem;
    gap: 0.5rem;
    list-style-type: none; 
}

.contenedor-listado h1 {
    margin: 0.5rem;
    color: #ffff;
    font-weight: bolder;
    border-bottom: 4px solid #ffff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin: 0 auto 0;
    text-align: center;
    max-width: fit-content;
}

.contenedor-listado li {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid #3A3F54;
}

.contenedor-listado img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid #3A3F54;
}

.s-general {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.s1, .s2, .s3 {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.s1 p, .s2 p, .s3 p {
    margin: 0;
}

.contenedor-listado button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.contenedor-listado button:hover {
    background-color: #45A049;  
    transform: scale(1.05);  
}

.contenedor-listado .eliminar {
    background-color: #F44336;  
    transform: scale(1.05);  
}

.contenedor-listado .eliminar:hover {
    background-color: #D32F2F;
    transform: scale(1.05);  
}

/* Scrollbar Estilizado */
.contenedor-listado::-webkit-scrollbar {
    width: 0.8rem;
}

.contenedor-listado::-webkit-scrollbar-thumb {
    background-color: #3A3F54;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.contenedor-listado::-webkit-scrollbar-thumb:hover {
    background-color: #646464;
}

/* Segundo Contenedor */
.contenedor-entradas {
    background-color: #ffffff;
    border: 3px solid #000000;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;;
    gap: 0;
    max-height: 40rem;
    width: 17rem;
}
.contenedor-entradas h3{
    margin: 0.5rem;
    color: #000000;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 0.2rem;
    font-size: 20px;
}
.contenedor-entradas form {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.contenedor-entradas label {
    font-size: 0.9rem;
    color: #000000;
    margin: 0;
}

.contenedor-entradas input,
.contenedor-entradas select {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid #818181;
    border-radius: 5px;
    background-color: #252B42;
    color: #ffffff;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.contenedor-entradas input:focus,
.contenedor-entradas select:focus {
    border-color: #0000;
    outline: none;
}

.contenedor-entradas button{
    background-color: #252B42;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-weight: bolder;
    margin-top: 0.5rem;
    margin-bottom: 0.2rem;
}
.contenedor-entradas button:disabled{
    background-color: #ccc;
    border: 2px solid #000000;
    cursor: not-allowed;
}
.buttons-cont{
    width: 100%;
    display: flex;
    gap: 1rem;
}
.buttons-cont .b2{
    background-color: #ccc;
    color: #000000;
    border: 2px solid #000000;
}
.contenedor-botones button:hover {
    background-color: #45A049;
}

.contenedor-botones button:last-child {
    background-color: #F44336;
}

.contenedor-botones button:last-child:hover {
    background-color: #D32F2F;
}
.errores{
    margin-top: 0.5rem;
    height: 9rem;
    max-width: 16rem;
    overflow-y: scroll;
    color: #000000;
    border: 1px solid #000000;
    align-items: center;
    border-radius: 10px;
}
.errores hr {
    height: 0.15rem;
    background-color: rgb(0, 0, 0,0.2); 
    border: none;
    width: 90%;
    margin: 0.6 ;
    display: center;
}

.errores::-webkit-scrollbar {
    width: 0.8rem;
}

.errores::-webkit-scrollbar-thumb {
    background-color: #3A3F54;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}
.btn-agregar {
    background-color: #4CAF50;  
    color: white;
    margin: 0.2rem;  
    border: none; 
    padding: 0.7rem 1.5rem;  
    border-radius: 5px;  
    cursor: pointer;  
    font-size: 1rem; 
    transition: background-color 0.3s ease, transform 0.2s ease;  
}

.btn-agregar:hover {
    background-color: #45A049;  
    transform: scale(1.05);  
}

.btn-agregar:active {
    background-color: #388E3C;  
    transform: scale(0.98);  
}

.p-c{
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
}

.p-c input{
    text-align: center;
}
